html, body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #404040;
	direction: ltr;
}

.signin-card {
	width: 274px;
	padding: 40px 40px;
}

.card {
	background-color: #f7f7f7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	width: 304px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

input[type=text] {
	margin-bottom: 0;
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

label{
	font-size: 16px;
}

input[type=text], input[type=password], input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


input[type=text], input[type=password]{
	padding: 0 8px;
	margin: 0;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	font-size: 15px;
	color: #404040;
}

.rc-button-submit, .rc-button-submit:visited {
	margin-top: 10px;
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
}

.rc-button, .rc-button:visited {
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	line-height: 36px;
	border-radius: 3px;
}

.hidden-label {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 0px;
	width: 0px;
	overflow: hidden;
	visibility: hidden;
}

#header {
	margin-bottom:30px;
	width:100%;
	text-align:center;
	border: 1px solid #333;
	background: #111;
}

.ui-mobile-viewport {
	margin: 0;
	overflow-x: visible;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
}